# This is an example configuration file for android2po,
# explaining the various options in more detail.
#
# Remove the comments for those options that you want
# to use.
#
# You probably want to copy this file as ".android2po"
# into the directory containing your "AndroidManifest.xml"
# file, so it'll be picked up automatically.
#


# If you don't like the default location, you can
# specify where the .po files should be stored. This
# path is relative to the path of this configuration
# file.
#--gettext locale/


# You can specify multiple message ids that should be
# ignored. Those will not be included when generating
# the .po file. As you can see, you may use regular
# expressions if you surround the expression using
# forward slashes.
#--ignore app_name color_names
#--ignore /^pref/
#--ignore /^error_level_[0-9]*$/

# This will cause messages that are marked as "fuzzy"
# in .po files to be ignored on import.
# --ignore-fuzzy

# Customize the name of the .pot template file (basically
# a .po file without any translations).
#--template template.pot

# If you don't need the .pot template file, you can tell
# a2po not to generate it at all.
#--no-template