# This is an example configuration file for android2po,
# explaining the various options in more detail.
#
# Remove the comments for those options that you want
# to use.
#
# You probably want to copy this file as ".android2po" 
# into the directory containing your "AndroidManifest.xml"
# file, so it'll be picked up automatically.
#


# If you don't like the default location, you can 
# specify where the .po files should be stored. This
# path is relative to the path of this configuration
# file.
#--gettext locale/


# Customize the name of the .pot template file (basically 
# a .po file without any translations).
#--template template.pot 

# If you don't need the .pot template file, you can tell 
# a2po not to generate it at all.
#--no-template